---
import Popup from '../components/Popup.tsx';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>Rawr~</title>
	</head>
	<body>
		<Popup client:visible />
		<div class='w-screen h-screen grid place-items-center'>
			<h1 class='mx-auto'>Shout-outs to CarlSagan42</d>
		</div>
	</body>
</html>
